[Unit]
Description=GateOne daemon
ConditionPathExists=|/var/lib/gateone

[Service]
WorkingDirectory=/var/lib/gateone
ExecStart=/usr/bin/python /usr/bin/gateone

[Install]
WantedBy=multi-user.target
