[Unit]
Description=Xserver startup with a display manager

[Service]
ExecStart=/usr/bin/xinit /etc/X11/Xsession -- /usr/bin/Xorg

[Install]
WantedBy=multi-user.target
