[Unit]
Description=Xserver startup with a display manager

[Service]
EnvironmentFile=/etc/default/xserver-nodm
ExecStart=/usr/bin/xinit /etc/X11/Xsession -- /etc/X11/Xserver

[Install]
WantedBy=multi-user.target
