i[Unit]
Description=Samba Winbind Daemon
After=syslog.target network.target nmb.service

[Service]
Type=forking
PIDFile=/var/run/winbindd.pid
ExecStart=@SBINDIR@/winbindd
ExecReload=@BASE_BINDIR@/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
