[Unit]
Description=Opkg first boot configure
DefaultDependencies=no
ConditionPathExists=|/etc/rcS.d/S98configure
After=remount-rootfs.service
Before=sysinit.target

[Service]
ExecStart=/etc/rcS.d/S98configure
RemainAfterExit=No
Type=oneshot
StandardOutput=syslog
TimeoutSec=0

[Install]
WantedBy=basic.target
WantedBy=sysinit.target
