[Unit]
Description=Run pending postinsts
DefaultDependencies=no
ConditionPathExists=|/etc/rcS.d/S98run-postinsts
After=remount-rootfs.service
Before=sysinit.target

[Service]
ExecStart=/etc/rcS.d/S98run-postinsts
RemainAfterExit=No
Type=oneshot
StandardOutput=syslog
TimeoutSec=0

[Install]
WantedBy=basic.target
WantedBy=sysinit.target
