[client]
#password					= password
port						= 3306
socket						= /tmp/mysql.sock

[mysqld_safe]
err-log						= /var/log/mysql.err

[mysqld]
user 						= mysql
port 						= 3306
socket 						= /tmp/mysql.sock
pid-file 					= /var/lib/mysql/mysqld.pid
log-error 					= /var/log/mysqld.err
basedir 					= /usr
datadir 					= /var/mysql
skip-external-locking
skip-networking
ignore-builtin-innodb
default-storage-engine				= myisam
bind-address					= localhost

