[Unit]
Description=MariaDB database server
After=syslog.target
After=network.target

[Service]
PIDFile=/var/lib/mysql/mysqld.pid
Type=simple
User=mysql
Group=mysql
ExecStart=@BINDIR@/mysqld_safe --basedir=@PREFIX@
TimeoutSec=300
PrivateTmp=true

[Install]
WantedBy=multi-user.target
