[Unit]
Description=Network Time Service
After=network.target

[Service]
Type=forking
PIDFile=/run/ntpd.pid
EnvironmentFile=/etc/ntp.conf
ExecStart=/usr/bin/ntpd $NTPD_ARGS -p /run/ntpd.pid

[Install]
WantedBy=multi-user.target
