[Unit]
Description=Advanced TFTP Server
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/atftpd.pid
ExecStart=/usr/sbin/atftpd --daemon --port 69

[Install]
WantedBy=multi-user.target
