[Unit]
Description=Loads xinput calibration data
ConditionPathExists=/etc/pointercal.xinput
Requires=xserver-nodm.service
After=xserver-nodm.service

[Service]
ExecStart=/usr/bin/xinput_calibrator_once.sh

[Install]
WantedBy=multi-user.target
