[Unit]
Description=Loads xinput calibration data
ConditionPathExists=/etc/pointercal.xinput
Requires=display-manager.service
After=display-manager.service

[Service]
ExecStart=/usr/bin/xinput_calibrator_once.sh

[Install]
WantedBy=multi-user.target
